.nav {
  position: sticky;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.nav > h1 {
  margin: 0;
}

.nav-list {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: white;
}

.nav-list > .link {
  display: flex;
}

.link > li {
  display: flex;
}

.nav-btn {
  border: none;
  background-color: transparent;
}

.nav-btn[data-active='true'] {
  border-bottom: 1px solid red;
}

.search {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding-inline: 0.5rem;
  padding-block: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.7rem;
}

.search > input {
  border: none;
  background-color: transparent;
  outline: none;
}

.search > .link > button {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
  }
  .nav-list {
    padding-left: 1rem;
  }
  /* .search {
    margin-right: auto;
  } */
}
