/* .bg-main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
} */

.bg-main {
  background-image: linear-gradient(to top, #209cff 0%, #68e0cf 100%);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.bg-main > h1 {
  margin-top: 0;
}

.pagination {
  display: flex;
  list-style-type: none;
  padding-inline: 0;
  padding-block: 2rem;
  margin: 0;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  user-select: none;
}

button {
  cursor: pointer;
}

.cards-list {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  overflow-y: scroll;
  justify-content: space-around;
}
